<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Vince Lee | Full Stack Developer</title>
</head>

<body>
    <header>
        <img alt="Vince Lee" class="profile-img" src="images/profile.png" />
        <h1>Vince Lee</h1> 
        <h3>Full Stack Web Developer</h3>
    </header>

    <nav id="navbar">
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#resume">Résumé</a>
        <a href="#contact">Contact</a>
    </nav>

    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>
                Having grown up in a household of web developers, web design has always been a part of my life, if only at times as side projects here and there.
                Even while pursuing a degree in chemistry, I was additionally trained in graphic design, Python, and computational chemistry. 
            </p>
            <p>
                Of course, as luck would have it, I ended up working for a web-based cloud biotech company, where development skills were once again at the forefront.
            </p>
            <p>
                So, why fight the inevitable? I'm now pursing a career in web and software development.
            </p>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <ul id="skill-list">
            </ul>
        </section>
        
        <section id="portfolio">
            <h2>Portfolio</h2>
            <section id="projects">
                
            </section>
        </section>
        
        <section id="resume">
            <a href="/resume"><h2>Résumé + CV</h2></a>
            <embed src="file/CV_VinceLee_2021.pdf" />
                <!-- <a target=_blank href="file/CV_VinceLee_2021.pdf">Click here to open my CV.</a> -->
        </section>
        
        <section id="contact">
            <h2>Contact Me</h2>
            <section id="contact-box" class="projects">
                <a class="social-link" target=_blank href="mailto:StarryBlue7@gmail.com">
                    <img alt="Email" class="social-icon" src="./images/email-logo.png" />
                    <h5>E-mail</h5>
                </a>
                
                <a class="social-link" target=_blank href="https://github.com/StarryBlue7">
                    <img alt="GitHub" class="social-icon" src="./images/github-logo.png" />
                    <h5>GitHub</h5>
                </a>
                
                <a class="social-link" target=_blank href="https://www.linkedin.com/in/vince-lee">
                    <img alt="LinkedIn" class="social-icon" src="./images/linkedin-logo.png" />
                    <h5>LinkedIn</h5>
                </a>
            </section>
        </section>
    </main>

    <footer>
        &copy; Vince Lee 2021
    </footer>

    <video id="v0" tabindex="0", autobuffer preload>
        <source src="https://starryblue7.github.io/portfolio-iii/public/images/InkDrop.mov" type="video/mp4">
    </video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</body>

</html>