<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Vince Lee | Full Stack Developer</title>
</head>

<body>
    <nav id="navbar">
        <a href="/">&lt; Back</a>
    </nav>

    <main id="full">
        <section id="resume">
            <h2>Résumé + CV</h2>
            <embed src="file/CV_VinceLee_2021.pdf" />
            <ul id="employments"></ul>
        </section>
        
    </main>

    <footer id="full-footer">
        &copy; Vince Lee 2021
    </footer>

    <video id="v0" tabindex="0", autobuffer preload>
        <source src="https://starryblue7.github.io/portfolio-iii/public/images/InkDrop.mov" type="video/mp4">
    </video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="js/resume.js"></script>
</body>

</html>